body {
    background-color: darkgray;
}

.presentation {
    display: flex;
    flex-direction: row;
}

.skills {
    border: 2px solid black;
    margin-bottom: 5%;
    padding: 3%;
}

img {
    border-radius: 50%;
}